/* responsiveText.css */

.responsive-text {
  font-size: 1em;
}
@media (min-width: 490px) {
  .responsive-text {
    font-size: 0.7em;
  }
}

@media (min-width: 520px) {
  .responsive-text {
    font-size: 0.7em;
  }
}
@media (min-width: 600px) {
  .responsive-text {
    font-size: 0.7em;
  }
}
@media (min-width: 650px) {
  .responsive-text {
    font-size: 0.7em;
  }
}

@media (min-width: 758px) {
  .responsive-text {
    font-size: 0.8em;
  }
}
@media (min-width: 900px) {
  .responsive-text {
    font-size: 0.9em;
  }
}
@media (min-width: 1000px) {
  .responsive-text {
    font-size: 0.9em;
  }
}

@media (min-width: 1200px) {
  .responsive-text {
    font-size: 1em;
  }
}

@media (min-width: 1400px) {
  .responsive-text {
    font-size: 1.3em;
  }
}
