/* ----------------------------"Download Data" title start ----------------------------*/
.download-data-box {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.download-data-title {
  background-color: #181818;
  padding: 5px;
  color: white;
  font-size: 1.5rem;
  margin-left: 5px;
}
/* ----------------------------"Download Data" title end ------------------------------ */
/*  */
/*  */
/*  */
/* ---------------------------Environmental Data column start -------------------------- */
.environmental-modules,
.images-modules,
.drone-modules {
  border: 1px solid #797979;
  border-radius: 5px;
  height: 120px;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 165px;
  margin-bottom: 40px;
}

.environmental-modules-title,
.images-modules-title,
.drone-modules-title,
.trait-modules-title,
.mosaicked-modules-title,
.wireless-sensor-modules-title {
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #181818;
  padding: 0 5px;
  z-index: 1;
  font-size: 1.35rem;
  color: white;
  white-space: nowrap;
}
/* -------------------------Trait Scorecard Column start--------------------------------- */
.trait-modules,
.mosaicked-modules,
.wireless-sensor-modules {
  border: 1px solid #797979;
  border-radius: 5px;
  height: 120px;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  margin-bottom: 40px;
}
.env-button-container,
.images-button-container,
.drone-button-container,
.trait-button-container,
.mosaicked-button-container,
.wireless-sensor-button-container,
.all-data-button-container {
  display: flex;
  justify-content: space-between; /* Ensure equal spacing between elements */
}
/* -------------------------Trait Scorecard Column start--------------------------------- */
.env-button,
.env-input-start,
.env-input-end,
.images-button,
.images-input-start,
.images-input-end,
.drone-button,
.drone-input-start,
.drone-input-end,
.trait-button,
.trait-input-start,
.trait-input-end,
.mosaicked-button,
.mosaicked-input-start,
.mosaicked-input-end,
.wireless-sensor-button,
.wireless-sensor-input-start,
.wireless-sensor-input-end,
.all-data-button,
.all-data-input-start,
.all-data-input-end {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  height: 60px;
  background-color: transparent;
  font-size: 1.2rem;
  margin-right: 25px;
  width: 200px;
  text-align: center;
}
.env-input-start,
.images-input-start,
.drone-input-start,
.trait-input-start,
.mosaicked-input-start,
.wireless-sensor-input-start,
.all-data-input-start {
  margin-left: 40px;
}

.trait-input-end,
.mosaicked-input-end,
.wireless-sensor-input-end,
.all-data-input-end {
  margin-right: -4px;
  margin-left: -31px;
}

.env-button,
.images-button,
.drone-button,
.all-data-button,
.trait-button,
.mosaicked-button,
.wireless-sensor-button,
.all-data-button {
  border: 1px solid orange;
  color: #e0e0e0;
  margin-right: 35px;
}
/* -------------------------All Data Download start -------------------------------- */
.all-data-modules {
  border: 1px solid #00e1b4;
  border-radius: 5px;
  height: 120px;
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 565px;
  margin-bottom: 40px;
}

.all-data-modules-title {
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #181818;
  padding: 0 5px;
  z-index: 1;
  font-size: 1.4rem;
  color: white;
  white-space: nowrap;
}
/* -------------------------All Data Download end ---------------------------------- */
/*  */
/*  */
/*  */
/*  */
/* ----------------------------- MEDIA QUERIES BELOW ----------------------------------- */

@media (min-width: 500px) and (max-width: 550px) {
  .drone-modules,
  .wireless-modules,
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules {
    width: 78%;
    height: 140px;
  }
  .trait-modules,
  .mosaicked-modules,
  .wireless-modules {
    margin-left: -6px;
  }

  .wireless-modules-title,
  .drone-modules-title,
  .environmental-modules-title,
  .trait-modules-title,
  .images-modules-title,
  .mosaicked-modules-title {
    font-size: 16px;
  }

  .download-data-title {
    font-size: 1.2rem;
  }
}
@media (min-width: 551px) and (max-width: 599px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 79%;
    height: 140px;
  }
  .trait-modules,
  .mosaicked-modules,
  .wireless-modules {
    margin-left: -5px;
  }
  .environmental-modules-title,
  .trait-modules-title,
  .images-modules-title,
  .mosaicked-modules-title,
  .drone-modules-title,
  .wireless-modules-title {
    font-size: 16px;
  }

  .download-data-title {
    font-size: 1.2rem;
  }
}
@media (min-width: 600px) and (max-width: 650px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 80%;
    height: 130px;
  }
  .trait-modules,
  .mosaicked-modules,
  .wireless-modules {
    margin-left: -5px;
  }
  .environmental-modules-title,
  .trait-modules-title,
  .images-modules-title,
  .mosaicked-modules-title,
  .drone-modules-title,
  .wireless-modules-title {
    font-size: 17px;
  }
  .download-data-title {
    font-size: 1.3rem;
  }
}
@media (min-width: 651px) and (max-width: 699px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 83%;
    height: 130px;
  }
  .trait-modules,
  .mosaicked-modules,
  .wireless-modules {
    margin-left: -5px;
  }
  .environmental-modules-title,
  .trait-modules-title,
  .images-modules-title,
  .mosaicked-modules-title,
  .drone-modules-title,
  .wireless-modules-title {
    font-size: 19px;
  }

  .download-data-title {
    font-size: 1.5rem;
  }
}
@media (min-width: 700px) and (max-width: 767px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 83%;
    height: 130px;
  }
  .trait-modules,
  .mosaicked-modules,
  .wireless-modules {
    margin-left: -5px;
  }
  .environmental-modules-title,
  .trait-modules-title,
  .images-modules-title,
  .mosaicked-modules-title,
  .drone-modules-title,
  .wireless-modules-title {
    font-size: 19px;
  }

  .download-data-title {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 799px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 79%;
    height: 110px;
  }
  .environmental-modules-title,
  .trait-modules-title,
  .images-modules-title,
  .mosaicked-modules-title,
  .drone-modules-title,
  .wireless-modules-title {
    font-size: 14px;
  }
}
@media (min-width: 800px) and (max-width: 899px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 79%;
    height: 110px;
  }
  .environmental-modules-title,
  .trait-modules-title,
  .images-modules-title,
  .mosaicked-modules-title,
  .drone-modules-title,
  .wireless-modules-title {
    font-size: 16px;
  }
}
@media (min-width: 900px) and (max-width: 999px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 82%;
    height: 110px;
  }
  .environmental-modules-title,
  .trait-modules-title,
  .images-modules-title,
  .mosaicked-modules-title,
  .drone-modules-title,
  .wireless-modules-title {
    font-size: 17px;
  }
}
@media (min-width: 1000px) and (max-width: 1067px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 85%;
    height: 110px;
  }
  .environmental-modules-title,
  .trait-modules-title,
  .images-modules-title,
  .mosaicked-modules-title,
  .drone-modules-title,
  .wireless-modules-title {
    font-size: 17px;
  }
}
@media (min-width: 1068px) and (max-width: 1099px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 85%;
    height: 100px;
  }
  .environmental-modules-title,
  .trait-modules-title,
  .images-modules-title,
  .mosaicked-modules-title,
  .drone-modules-title,
  .wireless-modules-title {
    font-size: 17px;
  }
}
@media (min-width: 1100px) and (max-width: 1199px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 86%;
    height: 100px;
  }
  .environmental-modules-title,
  .trait-modules-title,
  .images-modules-title,
  .mosaicked-modules-title,
  .drone-modules-title,
  .wireless-modules-title {
    font-size: 18px;
  }
}

@media (min-width: 1200px) and (max-width: 1299px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 87.5%;
    height: 100px;
  }
  .environmental-modules-title,
  .trait-modules-title,
  .images-modules-title,
  .mosaicked-modules-title,
  .drone-modules-title,
  .wireless-modules-title {
    font-size: 18px;
  }
}
@media (min-width: 1300px) and (max-width: 1399px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 87.5%;
    height: 110px;
  }
}

@media (min-width: 1400px) and (max-width: 1499px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 88%;
  }
}
@media (min-width: 1500px) and (max-width: 1550px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 88.5%;
  }
}
@media (min-width: 1551px) and (max-width: 1599px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 88.5%;
  }
}

@media (min-width: 1600px) and (max-width: 1699px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 89%;
  }
}

@media (min-width: 1700px) and (max-width: 1799px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 80%;
  }
}
@media (min-width: 1800px) and (max-width: 1899px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 80%;
  }
  .environmental-modules,
  .trait-modules,
  .images-modules {
    margin-right: 5px;
  }
}

@media (min-width: 2000px) {
  .environmental-modules,
  .trait-modules,
  .images-modules,
  .mosaicked-modules,
  .drone-modules,
  .wireless-modules {
    width: 80%;
  }
}
